<div class="item--list">
  {{#md-card-collapsible}}

    {{#if loadingServices}}
      <div class="progress-bar">
        <div class="progress">
          <div class="indeterminate"></div>
        </div>
      </div>
    {{/if}}

    {{#each model as |item|}}
        {{list-item-stack item=item launchPipeline=(action launchPipeline) activeItem=activeItem}}
    {{/each}}

    {{#md-collapsible icon="add" title="Create new a stack" }}
      <div class="create-selector">
        <label class='type-label'>Type</label>
        {{#md-radios
            selection=createFromLocation}}
            {{md-radio value=true name="with repository location"}}
            {{md-radio value=false name="with docker-compose file from the db"}}
        {{/md-radios}}
      </div>
      <div class="create">
        {{stack-creator createFromLocation=createFromLocation}}
      </div>
    {{/md-collapsible}}
  {{/md-card-collapsible}}

</div>
