<div class="list">
  <div class="container">
    <h1>Stacks</h1>
  </div>
  <div class="container">
    {{list-manager model=model activeItem=relatedStack goToPipelines=(action 'goToPipelines')}}
  </div>
</div>
